<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hello World</title>
</head>
<body>
    <h1>hello dear harpret</h1>
    <h1>Tohra</h1>
    <h2>Mtech Ai</h2>
    <p>This is harpreeet Singh thohra</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, <hr>nostrum sint illum cumque dolore at perferendis vero obcaecati aliquam vel dignissimos.<br> Eos eaque veritatis molestiae fugiat, animi explicabo recusandae deserunt! 10</p>
    <strong>Harpreet</strong>
    <b>Singh</b>
    <em>Harpreet</em>
    <i>Singh</i>
    <a href="links.html">Go to 2nd Page</a>

</body>
</html>