<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links and images</title>
</head>
<body>
    <a href="https://www.google.com/"target="_blank">Go to Google></a>
    <a href="https://www.facebook.com/"target="_blank">Go to Facebook</a>
    <a href="https://www.linkedin.com/"target="_blank">Go to Linkedin</a><vr>
    <a href="https://www.facebook.com/harpreet.tohra.7"target="_blank">Go to Harpreet Tohra</a><br><hr>
    <img src="https://source.unsplash.com/user/erondu/1600x900"alt=" Pta ni ki hogya">


    
</body>
</html>